.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.selected-menu{
   color: #eee;
   padding: 16px 20px;
   text-decoration: none;
   background-color: green;
}
.App-header a{
   color: #fff;
   padding: 16px 20px;
   text-decoration: none;
   cursor: pointer;
}
.App-header a:hover {
   color: #eee;
   padding: 16px 20px;
   text-decoration: none;
   background-color: green;
}
.App-footer {
   background-color: #282c34;
   min-height: 35px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 1vmin);
   color: white;
   bottom: 0px;
   position: absolute;
   right: 0px;
   left: 0px;
}

.App-footer a {
   color: #fff;
   padding: 9px 20px;
   text-decoration: none;
}
.App-link {
   color: #61dafb;
}
.routes-container{
   padding: 10px 20px;
}
@media only screen and (max-width: 768px) {
   .App-header a {
         padding: 15px 10px;
   }
}

