body {
   all: unset;
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
   /* background-color: #dbdcd9!important; */
   /* font-family: Calibri, Arial, sans-serif; */
   /* font-family: Georgia, Times New Roman, Times, serif; */
   color: #666666!important;
   font-size: 16px;
   line-height: 24px;
}

body::before {
   all: unset;
   /* background-image: url('./assets/macbook.jpg');
   background-size: cover;
   background-repeat: no-repeat; */
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 120%;
   z-index: -2;
   opacity: 0.3;
}

.short-blog, .full-blog {
   padding-top: 7px;
}

.short-blog {
   display: none;
}

.menu-header {
   list-style: none;
   margin: 0px;
   padding: 0px;
}

.full-blog {
   display: block;
}

.services-links {
   margin: 0px;
   padding: 0px 0px 0px 27px;
   list-style: none;
   font-size: 20px;
   line-height: 40px;
}

.got-to-sections span {
   color: #000;
}

.got-to-sections span:hover {
   text-decoration: underline;
   cursor: pointer;
   color: #0056b3;
}

.services-links a {
   color: #000;
   position: relative;
}

.services-links a:hover {
   text-decoration: none;
}

.services-links a::before {
   content: '>';
   font-size: 30px;
   margin-right: 13px;
   /* margin-top: 11px; */
   padding-top: 10px;
   position: absolute;
   top: -19px;
   left: -30px;
}

a.selected-sub-menu {
   color: #0056b3;
   font-weight: bold;
}

.entry-header {
   background: #00cad3;
   background-image: linear-gradient(to left, #00cad3, #009688);
   border-radius: 6px;
}

img.trend1 {
   width: 100%;
}

.flow-steps {
   width: 100%;
   height: 400px;
}

.marketings-section {
   padding: 20px 0px;
   border-top: 1px solid #ccc;
   margin-top: 30px;
}

.App-header {
   background-color: #282c34;
   min-height: 50px;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: right;
   font-size: calc(5px + 1vmin);
   color: white;
   position: relative;
   width: 100%;
}

.selected-menu {
   color: #eee;
   padding: 16px 20px;
   text-decoration: none;
   background-color: green;
}

.App-header>a, .sub-menu-class {
   color: #fff;
   padding: 16px 5px;
   text-decoration: none;
   cursor: pointer;
   display: block;
}

.sub-menu-class a {
   color: #fff;
   text-decoration: none;
}

.sub-menu-class .nav-link {
   padding: 0px;
   text-decoration: none;
}

.sub-menu-class .nav-link:hover {
   color: #fff;
   text-decoration: none;
}

.dropdown-item:focus, a.dropdown-item:hover {
   color: #fff;
   text-decoration: none!important;
   background-color: green;
}

.menu-header .dropdown-menu a {
   text-decoration: none;
}

.menu-header .dropdown-menu a:hover {
   text-decoration: none;
   background-color: green;
   color: #fff!important;
}

.dropdown-item {
   padding: 0px;
   line-height: 30px;
}

.submenu-item {
   padding: 15px 10px;
   display: block;
}

.dropdown-item:hover {
   background-color: green!important;
   color: #fff!important;
}

.dropdown-menu-right.show {
   margin-top: 15px;
}

.selected-service-links {
   color: #0056b3!important;
}

a.selected-sub-menu {
   color: #fff;
   font-weight: normal;
   background-color: green;
}

a.selected-sub-menu.submenu-item {
   width: 100%;
   display: inline-block;
   line-height: normal;
}

.App-header>a:hover, .sub-menu-class:hover {
   color: #eee;
   padding: 16px 5px;
   text-decoration: none;
   background-color: green;
}

.App-footer {
   background-color: #282c34;
   min-height: 35px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 1vmin);
   color: white;
   bottom: 0px;
   position: absolute;
   right: 0px;
   left: 0px;
}

.App-footer a {
   color: #fff;
   padding: 9px 20px;
   text-decoration: none;
}

.App-link {
   color: #61dafb;
}

.profile {
   position: absolute;
   left: 10px;
   width: 30%;
}

.profile .icon {
   height: 40px;
   border-radius: 50%;
   vertical-align: middle;
   margin-right: 10px;
   float: left;
}

.aboutus, .myjourney, .homepage, .contactus, .services {
   margin: 0px auto;
   width: 90%;
}

.aboutus {
   position: relative;
}

.profile-image-large {
   position: absolute;
   right: 10px;
   top: -12px;
}

.aboutus-header {
   margin-top: 20px;
}

.abt-header {
   color: #333333;
   font-size: 28px;
}

.profile-image-large img {
   height: 80px;
   border-radius: 50%;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media only screen and (max-width: 768px) {
   .App-header a {
      padding: 15px 4px;
   }
   .full-blog {
      display: none;
   }
   .short-blog {
      display: block;
   }
}

.image-gallery-image {
   text-align: center;
   background-color: #000;
}

.image-gallery-image img {
   width: auto!important;
   height: 410px;
}

.slider {
   padding: 20px 0px;
}

p {
   margin-bottom: 1.5em;
}

.thumbImgClass img {
   border-radius: 6px;
}

.image-gallery-thumbnail.active {
   border-radius: 10px;
}

.blog1-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog1.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog2-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog2.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog3-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog3.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog4-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog4.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog5-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog5.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog6-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog6.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog7-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog7.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog8-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog8.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.blog9-header {
   width: 100%;
   height: 200px;
   background: url(./assets/blog9.jpg);
   background-size: cover;
   background-position: center;
   color: #fff;
}

.card-text-custom {
   font-size: 12px;
   line-height: 1.9;
   color: #555;
   padding-bottom: 5px;
}

.card-title {
   margin-bottom: 5px;
}

.founder-text {
   color: #ccc;
   font-style: italic;
   margin-bottom: 15px;
}

@media only screen and (min-width:769px) {
   .App-header {
      font-size: calc(10px + 1vmin);
   }
   .myjourney, .aboutus, .homepage, .contactus, .services,.devices {
      margin: 0px auto;
      width: 1000px;
      padding: 10px 40px;
   }
   .contactus {
      margin: 0px auto;
      width: 800px;
      padding: 10px 40px;
   }
   .abt-header {
      color: #333333;
      font-size: 38px;
   }
   .cnt-header {
      color: #333333;
      font-size: 38px;
   }
   .aboutus-header {
      margin-top: 0px;
      margin-bottom: 30px
   }
   .aboutus {
      padding-top: 50px;
   }
   .profile-image-large {
      position: absolute;
      right: -40px;
      top: 40px;
   }
   .profile-image-large img {
      height: 500px;
      border-radius: 50%;
   }
   .profile {
      width: 20%;
   }
   .originalImgClass {
      height: 500px;
   }
   .image-gallery-image img {
      height: 700px;
      width: auto!important;
   }
   .aboutus-text {
      width: 600px;
   }
   .flow-steps {
      width: 900px;
      height: 998px;
   }
   .App-header>a, .sub-menu-class {
      padding: 16px 20px;
   }
   .App-header>a, .sub-menu-class:hover {
      padding: 16px 20px!important;
   }
}

@media all and (display-mode: fullscreen) and (min-width:769px) {
   .originalImgClass {
      height: 100%;
   }
}

@media all and (display-mode: fullscreen) and (max-width:768px) {
   .originalImgClass {
      height: 670px;
   }
   .image-gallery-image img {
      height: 610px;
      width: 100%!important;
   }
}

.carousel .slide .legend {
   transition: all .5s ease-in-out;
   position: absolute;
   bottom: 40px;
   left: 50%;
   margin-left: -45%;
   width: 90%;
   border-radius: 10px;
   background: #000;
   color: #fff;
   padding: 10px;
   font-size: 15px!important;
   text-align: center;
   opacity: 0.6!important;
   transition: opacity .35s ease-in-out!important;
}

.carousel-slider .control-arrow {
   top: 0;
   color: #fff;
   font-size: 26px;
   bottom: 0;
   margin-top: 0;
   padding: 15px!important;
   background-color: rgba(0, 0, 0, .2)!important;
   opacity: 0.7!important;
}

.trend2 {
   width: 70%;
}

.google-adword img {
   border-radius: 6px;
   box-shadow: 2px 2px #ccc;
}

.google-adword h2 {
   margin: 20px 0px;
}

ol, ul {
   margin-top: 0;
   margin-bottom: 1rem;
}

.google-adword {
   font-size: 1.25rem;
}

.google-adword strong {
   font-weight: 700;
}

.google-adword h1 strong, .google-adword h2 strong, .google-adword h3 strong, .google-adword h4 strong {
   font-weight: 600!important;
   margin-bottom: 1rem!important;
}

.contactus input, .contactus textarea {
   border: 1px solid #495057!important;
}

.hsg-featured-snippet {
   width: 100%;
   position: relative;
   padding: 2.75rem;
   right: 2.75rem;
}

.hsg-featured-snippet, .hsg-featured-snippet h2 {
   border-radius: .1875rem;
}

.hsg-featured-snippet {
   box-sizing: content-box;
   margin-left: auto;
   max-width: 895px;
   margin-right: auto;
}

.hsg-rich-text ul, .hsg-rich-text ol {
   margin: 1em 0 0.25em;
   padding: 0;
}

.hsg-rich-text ol {
   counter-reset: item;
}

.hsg-rich-text ol>li {
   counter-increment: item;
   text-indent: -2em;
}

.hsg-rich-text ul li, .hsg-rich-text ol li {
   list-style-type: none;
   margin: 1em 0 0.25em 1em;
   padding: 10px 0 0 1.5em;
}

.hsg-rich-text ol>li::before, .hsg-rich-text ol>li::before {
   content: counter(item) ".";
   display: inline-block;
   color: #2d3e50;
   font-weight: 700;
   text-align: right;
   width: 1.5em;
   padding-right: 0.5em;
}

.hsg-rich-text ul li::before, .hsg-rich-text ul li::before {
   content: '';
   display: inline-block;
   position: relative;
   top: -0.1em;
   left: -0.875em;
   background-color: #2d3e50;
   border-radius: 50%;
   width: 6px;
   height: 6px;
}

.youtube-frame {
   width: 100%;
   height: 400px;
}